{% extends "base.html" %}

{% block title %}{{ article.title }}{% endblock %}

{% block content %}
<div class="post">
	<h1 class="post-title">{{ article.title }}</h1>
	<span class="post-date">{{ article.locale_date }} - {% include 'comments.html' %} </span>
	<span class="post-tags">
	{% if article.tags %}
        {% for tag in article.tags %}
            <a href="{{ SITEURL }}/tag/{{ tag|string|lower|replace(" ", "-")|replace("é", "e")|replace("è", "e")|replace("ê", "e")|replace("à", "a")|replace(":", "-") }}.html">{{ tag }}</a>{% if not loop.last %} {% endif %}
          {% endfor %}
      {% endif %}
	</span>

	{{ article.content }}

	<!-- Comments -->
	{% if ISSO_SERVER %}
		<hr /><section id="isso-thread"></section>
		<noscript>Les commentaires de ce site utilisent javascript (oui, je sais, c'est maaaaal)</noscript>
	{% endif %}
	<!-- /comments -->
</div>
<a class="home" href="/"><i class="fa fa-home"></i>Retour maison</a>

<div class="pagination">
{% if article.next_articles %}
    <span class="pagination-item newer">
        {% for article in article.next_articles %}
                    <a href="{{ SITEURL }}/{{ article.url }}">
                      <<  {{ article.title }}
                    </a>
            {% endfor %}
    </span>
{% endif %}

{% if article.prev_articles %}
    <span class="pagination-item older">
            {% for article in article.prev_articles %}
                    <a href="{{ SITEURL }}/{{ article.url }}">
                      {{ article.title }}  >>
                    </a>
            {% endfor %}
    </span>
{% endif %}
</div> <!-- /pagination -->
{% endblock %}
