<div class="footer">
<p>
	<div id="wtf">
		<a href="http://www.wtfpl.net/"><img src="../images/wtfpl_img.png" /></a>
	</div>
<br/>
	     Les images sont soumises aux droits de leurs auteurs respectifs (dont je mentionne (normalement) la source).
	     <br/>
	     Site sous <a href="http://www.wtfpl.net/" title="Lien vers le site de la licence wtfpl">licence wtfpl</a> : en gros, faites-en ce que vous voulez.
	     <br/>
	    Site utilisant <a href="https://github.com/getpelican/pelican">Pelican</a> &#124; Con&ccedil;u avec un clavier par spf et hébergé chez <del>Gandi</del> <a href="https://www.scaleway.com/">Scaleway</a> (mais bisous à mon ancien hébergeur <a href="http://www.gandi.net/">Gandi</a> \o/). Utilisant un <a href="https://framagit.org/spf/pelican-hyde" title="Lien vers mon fork Github" alt="Lien vers mon fork Github">fork</a> perso de <a href="https://github.com/jvanz/pelican-hyde" title="Lien vers le projet Github">Pelican Hyde</a>.
	    <br/>
Icônes : <a href="http://fontawesome.io">Font Awesome</a> / Fonts : <a href="http://www.fontsquirrel.com/fonts/source-sans-pro">Source Sans Pro</a>.
<br />
	    Aucun pixel n'a été maltraité pour ce design.
</p>

<div class="soutien">
<p><a href="https://degooglisons-internet.org"><img src="https://degooglisons-internet.org/img/banniere_aaron.png" alt="Dégooglisons Internet, une initiative du réseau Framasoft" title="Découvrir le projet et les services en ligne libres proposés par Framasoft" /></a></p>
</div>
{% include 'analytics.html' %}
</div>
